<div>
    <ul>
        <li><img src="<%= usuarioLogeado.foto %>" alt="#" />%></li>
        <li><%= usuarioLogeado.username %></li>
        <li><%= usuarioLogeado.email %></li>
        <li><%= usuarioLogeado.telefono %></li>
        <li><%= usuarioLogeado.edad %></li>
    </ul>
</div>